<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857687768791-dgbao42lbbvmbspkfj7njjahek6hm65r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857687768791-dgbao42lbbvmbspkfj7njjahek6hm65r</string>
	<key>API_KEY</key>
	<string>AIzaSyAXO64x1nQ0knmFFk-pABueYzoSHpINlHw</string>
	<key>GCM_SENDER_ID</key>
	<string>857687768791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.telegram</string>
	<key>PROJECT_ID</key>
	<string>telegram-63ef4</string>
	<key>STORAGE_BUCKET</key>
	<string>telegram-63ef4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857687768791:ios:3459f72070a42fbc1dba92</string>
</dict>
</plist>